<form action="/properties/neighbour_hood_locations" method="get">
  <div class="form-block border"> 
    <input type="text" name="neighbourhoods" class="border" placeholder="Neighbourhood, city">
    <button type="submit" style="float: right; margin-top: -16%; padding-right: 6px"><i class="fa fa-search"></i></button>  
  </div>
</form>
