<section class="subheader">
  <div class="container">
    <h1>Edit Property</h1>
    <div class="breadcrumb right">Home <i class="fa fa-angle-right"></i> <a href="#" class="current">Edit Property</a></div>
    <div class="clear"></div>
  </div>
</section>

<section class="module property-submit">
  <div class="container">

    <div class="row">
    <div class="col-lg-10 col-lg-offset-1">

    <!-- <form class="multi-page-form" method="post"> -->
   
	<%= render "form" %>
        
    <div class="clear"></div>

    </div><!-- end basic info -->

  </div><!-- end col -->
  </div><!-- end row -->

  </div><!-- end container -->
</section>

<%= render 'newsletter' %>
