<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-2"></div>
    <div class="col-lg-8 col-md-8">
      <p align="center">Hello <%= @resource.email %>!</p>
      <p align="center">We received a password reset request for your Arradi.com account. To reset your password, use the link:</p>
      <p align="center"><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
      <p align="center">If you didn’t make the request, please ignore this email. Your password won’t change until you access the link above and create a new one.</p>
    </div>
    <div class="col-lg-2 col-md-2"></div>
  </div>
</div>
